<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>FRIEND BOOK</title>

    <!-- Bootstrap core CSS -->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="static/assets/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/assets/js/hover.zoom.js"></script>
    <script src="static/assets/js/hover.zoom.conf.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">HELLO</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/gifsandimgs">Take a break!</a></li>
            <li><a href="/contact">Give us feedback!</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


	<div class="container pt">
		<div class="row mt">	
			<div class="col-lg-8 col-lg-offset-2">

                <h1>Your Friend Book</h1>

                <table border = 1 cellpadding = '5'> 
                    <tr> 
                        <th><b>Name</b></th> 
                        <th>Address</td>
                        <th>Phone No.</td>
                        <th>Email</td>
                        <th>Birthday</td>

                    {% for key, value in fb.iteritems() %}
                        <tr> 
                            <th id={{ key }}> {{ key }}</th>
                            {% for item in giflist %} 
                                <td> {{ item }} </td>
                            {% endfor %}
                        <tr>
                    {% endfor %}
                </table>

                <br>

                <button type="submmit" id="addfriend" onclick="toggleShowAddFriend()">Add friend</button>
                <button type="submit" id="deletefriend" onclick="toggleShowDeleteFriend()">Delete friend</button> 
                <button type="submit" id="updatefriend" onclick="toggleShowUpdateFriend()">Update friend's details</button>


                  <div id="addfrienddiv" class="container pt" style="display:none;">
                  <div class="row mt">	
                    <div class="col-lg-8 col-lg-offset-2">
                      <form role="form" action = "http://localhost:5000/friendbook" method = "POST">
                        <div class="form-group">
                          <input name="submitname" type="name" class="form-control" id="addname" placeholder="Name">
                        </div>
                        <div class="form-group">
                          <input type="name" class="form-control" name="address" placeholder="Address" id="addaddress">
                        </div>
                        <div class="form-group">
                          <input class="form-control" name="phoneno" placeholder="Phone No." id="addphoneno">
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="email" name="email" placeholder="Email" id="addemail">
                        </div>
                        <div class="form-group">
                          <input class="form-control" name="birthday" placeholder="Birthday" id="addbirthday">
                        </div>

                        <button type="submit" class="btn btn-success">Add Friend (form)</button>
                      </form>    			
                      <button type="submit" class="btn btn-success" onclick="postAddWithJson()">Add Friend (json)</button>
                    </div>
                  </div><!-- /row -->
                </div><!-- /container -->

                  <div id="deletefrienddiv" class="container pt" style="display:none;">
                  <div class="row mt">	
                    <div class="col-lg-8 col-lg-offset-2">
                      <form role="form" action = "http://localhost:5000/friendbook" method = "GET">
                        <div class="form-group">
                          <!--ADD THE NAMES OF EACH PERSON IN FB-->
                        <!--<select id="deletefriends"> 
                          {% for key, value in fb.iteritems() %}
                            <option value={{ key }}>{{ key}}</option>
                          {% endfor %}
                        </select>-->

                          <input class="form-control" name="deletename" placeholder="Name">
                                                   
                        </div>
                        <button type="submit" class="btn btn-success">Delete Friend</button>
                      </form>    			
                    </div>
                  </div><!-- /row -->
                </div><!-- /container -->

                  <div id="updatefrienddiv" class="container pt" style="display:none;">
                  <div class="row mt">	
                    <div class="col-lg-8 col-lg-offset-2">
                          <!--ADD THE NAMES OF EACH PERSON IN FB-->
                        <select id="updatefriends"> 
                          {% for key, value in fb.iteritems() %}
                            <option value={{ key }}>{{ key}}</option>
                          {% endfor %}
                        </select> 
                        <input class = "form-control" id="updateadd" placeholder="New Address">
                        <input class = "form-control" id="updatephoneno" placeholder="New Phone Number">
                        <input class = "form-control" id="updateemail" placeholder="New Email">
                        <input class = "form-control" id="updatebirthday" placeholder = "New Birthday">
                      <button onclick = "putFriend()" class="btn btn-success">Update Details</button>
                    </div>
                  </div><!-- /row -->
                </div><!-- /container -->
                
                <br>                

                <a href="/">← Go back!</a>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->


	<!-- +++++ Footer Section +++++ -->
	
	<div id="footer">
		<div class="container">
		</div>
	</div>
	

    </body>

<script src="/static/common.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</html>